/* se importa la fuente exo de googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* :root (Variables globales)  defino aquí la paleta de colores*/
:root {
    --primary-color: #2D3250;
    --secondary-color: #424769;
    --tertiary-color: #7077A1;
    --background-color: #EEEEEE;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-box:  Incluye el relleno (padding) y el borde (border) dentro del ancho y alto definidos para un elemento, lo que facilita el control del tamaño final del mismo*/
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*para que el body llegue a la parte inferior*/
}

header {
    margin-bottom: 15px;
}

main {
    margin-bottom: 15px;
}

form {
    color: var(--primary-color);
}


.index-background {
    background-color: var(--background-color);
    background-image: url('../assets/img/portada.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
}


header h1 {
    color: var(--primary-color);
    margin-left: 30px;

}

header h1:hover {
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
}

nav {
    display: flex;
    height: 40px;
    margin-top: 10px;

}

nav ul {
    position: absolute;
    top: 15px;
    right: 40px;
    list-style: none;
    /*le quito el estilo de viñeta a la lista*/
}

nav ul li {
    display: inline;
    /*en línea los links del nav*/
    margin-right: 20px;
    /* Espaciado entre elementos */
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    /*le quito le línea a los links y le doy color a la fuente*/
    font-weight: 600;
    /* Hace la fuente más gruesa */
}

nav ul li a:hover {
    color: var(--secondary-color)
}

#icono-hamburguesa {
    display: none;
    position: absolute;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
}

#lista-hamburguesa {
    display: flex;
    flex-direction: row;
}



h2 {

    color: var(--primary-color)
}

.center {
    text-align: center;
}

#tittle {
    margin-top: 70px;
    margin-left: 40px;
}

.boton {
    position: absolute;
    top: 220px;
    left: 100px;
    display: inline-block;
    /*para que se comporte como boton*/
    text-align: center;
    padding: 6px 12px;
    /*espaciado más grande*/
    background-color: var(--tertiary-color);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 10px;
}

.login {
    border: none;
    top: 13px;
    left: 270px;
}


#api {
    position: absolute;
    color: var(--tertiary-color);
    left: 20px;
    bottom: 120px;
    width: 100%;
    text-align: left;
    font-size: 17px;
    padding: 15px;

}

/*cambia el color cuando pasa el mouse*/
.boton:hover {
    background-color: var(--primary-color);
}

#nos-img {
    max-width: 400px;
}

#nos-img:hover {
    transform: scaleX(-1);
    /*voltea la imagen horizontalmente*/
}

#wapp {
    position: fixed;
    /*para que el elemento te siga en la pantalla*/
    bottom: 140px;
    right: 50px;
}

#wappimg {
    width: 50px;
}

.contenedor {
    margin-top: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    /* para organizar los divs en fila y desciendan al siguiente renglón para no desbordar*/
    justify-content: center
        /*distribuye en el ancho del contenedor*/
}

.recurso-card {
    background-color: #7077A1;
    width: 260px;
    height: 100px;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    color: var(--background-color);
    font-size: larger;
}

.recurso-card a {
    color: var(--background-color);
    text-decoration: none;
}

/*cambia el color cuando pasa el mouse*/
.recurso-card:hover {
    background-color: var(--primary-color);
}

.nosotros-container {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* dos columnas de igual tamaño */
    grid-template-rows: auto auto;
    /* dos filas automáticas */
    gap: 5px;
}

.nosotros_texto {
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--tertiary-color);
    margin: 5px 10px 5px 10px;
    /*atajo top right bottom left*/
    grid-column: span 2;
    /* ocupa ambas columnas en la primera fila */
    gap: 5px;
    /* espacio entre filas y columnas*/
}

.nosotros_texto p {
    text-align: center;
    color: var(--primary-color);
}

#agencia {
    text-decoration: none;
    color: var(--primary-color)
}

#agencia:hover {
    color: var(--secondary-color)
}

.nosotros_quiz {
    color: var(--secondary-color);
    border: solid 1px var(--tertiary-color);
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    padding: 20px ;
}

#pregunta { font-size: large;
text-align: center;}

.opcion {
    margin: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
}

.nosotros_quiz button {
    border-radius: 5px;
    color: var(--tertiary-color);
    display: inline-block;
    margin-top: 10px;
}
.nosotros_quiz button:hover {
    box-shadow: 0 4px 8px var(--primary-color); /*sombra*/
    transform: scale(1.1); /* zoom */

}
#proxima { 
    margin-bottom: 10px;
    border: none;
    /*para que se comporte como boton*/
    text-align: center;
    padding: 6px 12px;
    /*espaciado más grande*/
    background-color: var(--tertiary-color);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 10px;}

#proxima:hover {
    background-color: var(--primary-color);
    box-shadow: none;
    transform: none
}

#puntos { font-weight: 520;}



.nosotros_iframe {
    border: solid 1px var(--tertiary-color);
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    overflow: hidden;
}

/*FORMULARIO DE CONTACTO*/

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 25px auto 10px auto;
    /*para centrar el formulario en el medio de la pantalla*/
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(45, 50, 80, 0.1);

}

fieldset {
    border: none;
    /*le saco el borde por defecto*/
    margin-bottom: 20px;
    /*un pequeño espaciado entre los campos*/
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    /*que los campos de entrada ocupen todo el ancho disponible*/
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--tertiary-color);
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
    /* espacio entre el checkbox y su etiqueta */
}

.form_boton {
    border: none;
    padding: 8px 15px;
    margin-right: 10px;
    /*espacio entre los dos botones*/
    background-color: var(--tertiary-color);
    color: var(--background-color);
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.form_boton:hover {
    background-color: var(--primary-color);
}

.mensaje-emergente {
    display: none;
    /*se mantiene oculto por defecto*/
    position: fixed;
    /*que no se mueva mientras la página se desplaza*/
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    /* Ajusta el centro del elemento */
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 15px 20px;
    border-radius: 10px;
    z-index: 1000;
    /*para que quede por encima de otros elementos*/
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 350px;
}

.mensaje-emergente.visible {
    display: block;
}

.mensaje-emergente p {
    margin: 0;
    cursor: pointer
        /* indico con el cursor que hay una acción sobre el botón */

}

/*-------------FIN FORM-------*/

.ubicacion {
    width: 90%;
    margin: 15px auto;
    justify-content: center;

}

.ubicacion iframe {
    width: 100%;
}

.footer {
    height: 120px;
    background-color: var(--primary-color);
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
    /*se ajusta automaticamente para ocupar el espacio disponible*/
    display: flex;
    flex-direction: column;
    /*el columna por defecto*/
    align-items: center;
    /*los elementos centrados*/

}


.redes a {
    text-decoration: none;
    color: var(--background-color);
    padding: 3px;
}

#redes_icon {
    font-size: 20px;
}

.cafecito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cafecito_icon {
    display: flex;
    align-items: center;


}

/*Media Queries*/
@media (max-width:400px) {
    header h1 {
        margin-left: 10px;
    }

    nav ul li {
        margin-right: 4px;
        /* Espaciado entre elementos */
    }

    

    #wapp {
        position: fixed;
        /*para que el elemento te siga en la pantalla*/
        bottom: 120px;
        right: 20px;
    }


}

@media (max-width:600px) {
    .index-background {
        background-image: url('../assets/img/portada_600.png');

    }

    #icono-hamburguesa {
        display: block;

    }

    #lista-hamburguesa {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: var(--background-color);
        width: 100%;
        padding: 10px;
    }

    #lista-hamburguesa.mostrar {
        display: flex;
    }

    #lista-hamburguesa li {
        margin: 10px 0;
    }

    nav ul {
        position: absolute;
        top: 40px;
        left: 20px;
        list-style: none;
        /*le quito el estilo de viñeta a la lista*/
    }


    .boton {
        position: absolute;
        top: 250px;
        left: 70px;
    }

    /* en mobile oculto la api porque rompe el estilo */
    #api {display: none;}

    .login {
        top: 13px;
        left: 270px;
    }

   
    form {
        width: 320px;
    }

    .mensaje-emergente {
        font-size: 14px;
    }


}

@media (max-width:810px) {
    .index-background {
        background-size: cover;

    }

    .nosotros-container {
        display: grid;
        grid-template-columns: 1fr;
        /*que el contenido de la fila ocupe toda la columna, 1fr una sola columna*/
        grid-template-rows: 1fr 1fr 1fr;
        /* 3 filas que ocupan 1fr*/
        justify-items: center;
        /* Centra horizontalmente cada ítem */


    }

    .nosotros_texto,
    .nosotros_quiz,
    .nosotros_iframe {
        max-width: 90%;
        grid-column: span 1;
        /*ahora ocupa todo una sola columna*/
        margin: 3px;

    }

    #nos-img {
        width: 250px;
    }

}

@media (max-width:1023px) {

    .derechos,
    .redes {
        margin-top: 10px;
    }

    .cafecito {
        flex-direction: row;
    }

    .cafecito_icon {
        margin: 0px;
        padding-left: 10px;
    }

}

@media (min-width:1024px) {
    .contenedor {
       
            margin-top: 40px;
    }
    .footer {
        flex-direction: row;
        /*en fila para dispositivos grandes*/
        justify-content: space-between;

    }

    .derechos {
        display: flex;
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 8px;
    }

    .redes {
        margin-left: -175px;
    }



    .cafe {
        margin-left: 0;
    }

    .cafecito {
        margin-right: 40px;

    }

    form {
        max-width: 900px;
    }

}
@media (min-width:1440px) {
    body {
        font-size: 130%; /* Incrementa el tamaño en porcentaje */
      }
}

@media (min-width:1900px) {
    body {
        font-size: 150%; /* Incrementa el tamaño en porcentaje */
      }
    .contenedor {
       
            margin-top: 90px;
    }
    .boton {
        top: 260px;
        left: 150px;
    }

    .recurso-card {
        font-size: xx-large;
        width: 280px;
        height: 180px;}
}



