* {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*  #98D9CA color de fondo de foto de cursos */
.hidden {
    display: none;
}

h2 {
    color: rgb(21, 61, 88);
}

/*le quito el estilo de viñeta a la lista*/
nav ul {
    list-style: none;
}

/*le quito le línea a los links y le doy color a la fuente*/
nav ul li a {
    color: rgb(21, 61, 88);
    text-decoration: none;
}

.boton {
    display: inline-block
        /*para que se comporte como boton*/
    ;
    padding: 10px 20px;
    /*espaciado más grande*/
    background-color: #666666;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 10px;

}

footer {
    background-color: rgb(21, 61, 88);
    color: whitesmoke;
}

.iconos_redes a {
    text-decoration: none;
    color: whitesmoke;
}